---
import { Image } from "astro:assets";
import { format } from "date-fns";
import type { TechStack } from "../utils/projects";

const title = Astro.props.title;
const description = Astro.props.description;
const image = Astro.props.image;
const url = Astro.props.url;
const date = format(Astro.props.date, "MMMM yyyy");
const techStack = Astro.props.techStack
  .map((tech: TechStack) => tech.id)
  .join(",");
---

<a
  href={`/projects/${url}`}
  class="flex flex-col bg-gray-100 shadow-md rounded-md p-4 transition-colors duration-500 hover:bg-gray-300"
  data-tech-stack={techStack}
>
  <Image
    src={image}
    alt={title}
    width={400}
    height={250}
    loading="lazy"
    decoding="async"
  />
  <div>
    <h1 class="text-2xl font-bold mb-2" transition:name={title}>{title}</h1>
    <p class="text-gray-600 mb-4" transition:name={`description:${title}`}>
      {description}
    </p>
    <span class="text-gray-500 text-sm">{date}</span>
  </div>
</a>

<style>
  img {
    border-radius: 0.5rem;
    width: 400px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
  }
</style>
